*{
    background-image: url(https://images.cdn1.stockunlimited.net/preview1300/film-reel-with-popcorn_1972467.jpg);
}
.app-container {  
    display: grid;
    justify-content: center;
    color: gold;
}

form {
    margin-top: 50%;
}

.form-label {
    justify-content: center;
    
}

