.app-container {  
    display: grid;
    justify-content: center;
}

form {
    margin-top: 50%;
}

.form-label {
    justify-content: center;
    // margin-top: 5px;
    // height: 5px;
}

// .form-control {
//     width: 500px !important;
// }

.btn {
  margin-right: 100%;
}

// .signup-button{
//     margin-left: 100%;
// }